<h2 class="text-2xl font-bold">Sign in</h2>

<div class="w-full max-w-md mt-8">
  <%= tailwind_form_with scope: :session, url: sessions_path, method: :post do |f| %>
    <div class="grid grid-cols-1 gap-6 bg-gr">
      <%= f.errors %>

      <%= f.label :username do %>
        <%= f.text_field :username, autocomplete: "username" %>
      <% end %>

      <%= f.label :password do %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      <% end %>

      <%= f.submit "Sign in" %>

      <p>
        Don't have an account? Create one
        <%= link_to "here", new_user_path, class: "underline text-blue-600 hover:text-blue-800" %>.
      </p>
    </div>
  <% end %>
</div>
